.quiz-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  max-height: 100vh;
}

.timer {
  background-color: white;
  width: 20vw;
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.question-container {
  background-color: white;
  min-height: 70vh; /* Adjust as needed */
  max-height: 70vh; /* Adjust as needed */
  min-width: 50vw;
  max-width: 70vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto; /* Enable scrolling inside container */
}
.container-1,
.container-2 {
  flex: 1;
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.question {
  color: rgb(8, 8, 151);
  font-weight: 550;
  margin-bottom: 10px;
}

.container-2 {
  background-color: black;
  color: white;
  overflow: scroll;
}
.code{
  overflow-y: auto;
}
.options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid black;
  gap: 1rem;
}
.options > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.options > div > span {
  font-size: 1rem;
  color: black;
}
.optionButton {
  max-width: fit-content;
  color: black;
  transition: ease-in-out 0.3s;
}
.optionButton:hover {
  background-color: rgb(188, 236, 146);
}

.optionButton:active {
  background-color: green;
  color: white;
}

.optionButton.selected {
  background-color: green;
  color: white;
}

.navigation-buttons {
  width: 90vw;
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

