.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerForm {
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

.registerForm > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.registerForm > div > label {
  font-weight: 600;
}

.registerForm > div > input,
select {
  padding: 0.5rem 1rem;
}

.registerForm > div > input[type="submit"] {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerForm > div > input[type="submit"]:hover {
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
}
