* {
  margin: 0;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  cursor: url("./images/cursor.png"), auto;
}

body::before {
  content: "";
  color: black;
  height: 100%;
  width: 100%;
  background: url("./images/quiz.jpg") center/cover no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
}
.button-1 {
  color: rgb(63, 34, 0);
  background-color: white;
}
.button-1:hover {
  color: white;
  background-color: rgb(63, 34, 0);
}

.button-2 {
  color: white;
  background-color: rgb(63, 34, 0);
}
.button-2:hover {
  color: rgb(63, 34, 0);
  background-color: white;
}
